html {
font-family: 'Oswald', sans-serif;
font-weight: 700;}


 .logo img {
  height: 40px;
  display: block;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  font-weight: 550;
  color:black;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff8000;
}
.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.background-video {
  position: absolute;
  margin-top: 100px;
  top: 0;
  left: 0;
    max-width: 100%;
    max-height: 100%;
  object-fit: cover;
  z-index: -1;
}
    .navbar {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
.hero-content {
    font-weight: 700;
    margin-right: 50px;
  position: relative;
  text-align:right;
  padding-top: 180px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero p {
  font-size: 20px;
  font-weight: 500;
color: rgb(72, 75, 80);;
}
.section {
  margin-top: 50px;
  padding: 60px 40px;
}

.section.light {
  background-color: #f4f4f4;
  color:black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.image {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

.driver-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.driver {
  text-align: center;
}

.driver img {
  width: 700px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.driver {
    color: black;


}
.container {
    color: black;
    text-align: center;

}

.hero-content{
    color: #f4f4f4;
}

.driver {
    width: 700px; 
      transition: transform 1s ease;

}
.driver :hover {
   transform: scale(1.05);
}
.lando {
  width: 700px;
}